.slideshow {
	margin-top: 78px;
}

.carousel-inner, .carousel-item.img, .carousel-indicators {
	height: 70vh !important;
}
.carousel-item img {
	object-fit: cover;
}
.carousel-caption {
	color: black !important;
}