.carousel-inner, .carousel-item.img, .carousel-indicators {
	height: 60vh !important;
}
.carousel-item img, .img-user img {
	object-fit: cover;
}
.carousel-caption {
	color: black !important;
}
.img-user {
	position: relative;
}
.img-user img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.font-serif {
	font-family: 'DM Serif Text', serif !important;
}
.font {
	font-family: 'Lato', sans-serif !important;
}