.carousel-inner, .carousel-item, .carousel-indicators {
	height: 60vh !important;
}
.carousel-item img, .img-user img {
	object-fit: cover;
}
.carousel-caption {
	color: black !important;
}
.font-serif {
	font-family: 'DM Serif Text', serif !important;
}
.font {
	font-family: 'Lato', sans-serif !important;
}